body {
    background-color: beige;
}

#consoleLog, #alert, #prompt {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: red;
    font-weight: bold;
}

.code {
    font-size: 18px;
}